<div class="bottom-nav">
  <a routerLink="/" class="active" routerLinkActive="active">
    <i class="fa fa-home"></i>
    <span>Trang chủ</span>
  </a>

  <a routerLink="/menu" routerLinkActive="active">
    <i class="fa fa-utensils"></i>
    <span>Menu</span>
  </a>

  <a routerLink="/order" routerLinkActive="active">
    <i class="fa fa-shopping-bag"></i>
    <span>Đặt hàng</span>
  </a>

  <a routerLink="/favorite" routerLinkActive="active">
    <i class="fa fa-heart"></i>
    <span>Yêu thích</span>
  </a>

  <a routerLink="/notification" routerLinkActive="active">
    <i class="fa fa-bell"></i>
    <span>Thông báo</span>
  </a>
</div>
