.top-bar {
  position: fixed; // hoặc fixed nếu muốn luôn nổi
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;
  background: #ffffff;
  border-bottom: 1px solid #eee;

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 20px;
    cursor: pointer;
  }

  .cart {
    position: relative;

    .badge {
      position: absolute;
      top: -6px;
      right: -8px;
      background: red;
      color: #fff;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 50%;
    }
  }
}

@media (min-width: 768px) {
  .top-bar {
    display: none;
  }
}
