<!-- Navbar & Hero Start -->
@if(isBlogPage){
<div class="container-xxl position-relative p-0">
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Tin tức</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Tin tức</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
}

<!-- Navbar & Hero End -->

<section class="container blog-page">
  <div class="menu-header text-center">
    <h5 class="section-title ff-secondary text-primary fw-normal">Tin tức</h5>
    <h1 class="mb-3">Blog &Tin tức nổi bật</h1>
    <p class="menu-subtitle">
      Khám phá các loại hải sản tươi ngon, chả cá, chả mực và nhiều sản phẩm
      được khách hàng yêu thích nhất.
    </p>
  </div>

  <div class="blog-list">
    @for (blog of blogs; track trackByBlogId($index, blog)) {
    <article class="blog-card">
      <a class="blog-image-wrap" [routerLink]="['/blog', blog.id]">
        <img [src]="blog.coverImage" [alt]="blog.title" class="blog-image" />
      </a>

      <div class="blog-content">
        <div class="blog-meta">
          <!-- <span class="blog-author">{{ blog.creatorName }}</span> -->
          <span class="dot">•</span>
          <span class="blog-date">{{ blog.creationTime | date:'dd/MM/yyyy' }}</span>
          <span class="dot">•</span>
          <span class="blog-view">{{ blog.view }} views</span>
        </div>

        <h3 class="blog-card-title">
          <a [routerLink]="['/blog', blog.id]">{{ blog.title }}</a>
        </h3>

        <p class="blog-desc">
          {{ blog.summary }}
        </p>

        <a class="read-more" [routerLink]="['/blog', blog.id]">
          Read more
        </a>
      </div>
    </article>
    }
  </div>
</section>